.form {
  .inputContainer {
    display: flex;
    flex-direction: column;

    .label {
      line-height: 1.5em;
    }

    input {
      margin-bottom: 0.5em;
    }
  }

  button {
    margin-right: 5px;
  }
}
