@use './variables' as v;
@use "sass:color";

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AppMain {
  max-width: 720px;
  min-width: 600px;
  margin: 50px auto;
  background-color: #ddd;
  padding: 35px 25px;

  button {
    border: none;
    background-color: v.$gray;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;

    &:hover {
      background-color: color.scale(v.$gray, $lightness: -20%);
    }

    &:focus {
      background-color: color.scale(v.$gray, $lightness: -40%);
      color: white;
    }
  }
}
