html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #686161;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
